table#table-to-xls {
    box-shadow: 0px 0px 13px 0px #0000001a;
    border-radius: 15px !important;
}
span.dispatcher-id {
    text-align: center;
    padding: 4px 10px;
    color: #502ACD;
    border-radius: 5px;
    border: 1px solid #502ACD;
}
li.page-item a {
    background-color: #1B2644;
    color: #fff;
    padding: 7px 30px;
    margin-top: 20px;
    margin-right: 12px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
}
.tableheading th {
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    padding: 7px 28px;
}
.delete::before {
    color: #1b2644;
}
.tbody th, .tbody td {
    padding: 12px 30px;
    font-size: 14px;
}
.dispatcher-list-form .modal_body.modal-body {
    background-color: gainsboro;
}
.close-icon {
    position: absolute;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}
form.form_main {
    padding: 30px;
}
.dispatcher-list-form h5.main_h5 {
    text-align: center;
}

.dispatcher-list-form input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #E7E7E7;
}
.dispatcher-list-form input::placeholder{
    color: #6941c6;
}
.dispatcher-list-form button{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 15px;
    background-color: #1b2644 !important;
}
table#table-to-xls {
    z-index: 9;
    position: relative;
}
thead.tableheading{
    position: relative;
}
.view-table-new {
    margin-top: 25px;
}
/* thead.tableheading:before {
    position: absolute;
    content: "";
    background-color: #efefef;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px 10px 0 0;
} */
.driver-view-list {
    background-color: #efefef;
    z-index: 9;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 28px;
    border-radius: 10px 10px 0 0;
    margin-bottom: -8px;
    align-items: center;
}
.add-new-form-btn .d-flex.create-dispatcher.align-items-center {
    margin-top: 0;
    margin-bottom: 10px;
}
.driver-view-list h2 {
    font-size: 20px;
    font-weight: 500;
}
.create-dispatcher {
    background-color: #1b2644;
    padding: 10px 20px 10px;
    color: #fff;
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}
input::placeholder{
    color: #6B7DB1;
}